# Sentry (web)
NEXT_PUBLIC_SENTRY_DSN=https://your-dsn@sentry.io/project-id
SENTRY_AUTH_TOKEN=your-sentry-auth-token
NEXT_PUBLIC_APP_VERSION=0.1.0

# Firebase Analytics
NEXT_PUBLIC_FIREBASE_ANALYTICS_ENABLED=true
